<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Watch's manager</title>
	<div th:replace="fragments/links ::headlink"></div>
	<style type="text/css">
		.submit {
			float: right;
			clear: right;
		}
		footer {
			position: relative;
		}
	</style>
</head>
<body>
    <!--
		Watch form
    -->

    <div class="row">
    	<div class="col s3">
		</div>
    	<div class="col s6">
    		<div class="row">
    			<form class="col s12" id="watchForm" th:action="@{add}" th:object="${watchForm}" method="post" enctype="multipart/form-data">

					<h4 class="teal-text header">Add new watch item</h4>
    				<div class="row">
    					<div class="input-field col s12">
    						<input id="inputModel"  type="text" th:field="*{model}"/><label for="inputModel" >Model</label></div>
					</div>
					<div class="row">
    					<div class="input-field col s12">
							<select  id="inputBrand" class="icons initialized" th:field="*{brand}">
								<option value="1">Choose the brand</option>
								<option th:each="b :${brands}" th:value="${b.id}"  data-icon="/images/default.jpg" th:attr="data-icon= @{${b.imagePath}}" class="left square" th:text="${b.name}">Default</option>
							</select>
							<label for="inputBrand" >Brand</label>
						</div>
					</div>
					<div class="row">
    					<div class="input-field col s12">
    						<input id="inputPrice" type="text" th:field="*{price}"/><label for="inputPrice" >Price</label></div>
					</div>
					<div class="row">
							<div class="input-field col s12">
								<select id="inputCountry" th:field="*{country}">
									<option value="1">Choose the country</option>
									<option th:each="c :${countries}" th:value="${c.id}"   th:text="${c.name}">Default</option>
								</select>
								<label for="inputCountry" >Country</label>
							</div>
					</div>
					<div class="row">
    					<div class="input-field col s12">
						<select name="gender" id="inputGender" th:field="*{gender}">
							<option value="1">Choose the gender</option>
							<option th:each="g :${genders}" th:value="${g.id}"   th:text="${g.name}">Default</option>
						</select>
						<label for="inputGender" >Gender</label></div>
					</div>
					<div class="row">
						<div class="input-field col s12">
						<select  id="inputType" th:field="*{type}">
							<option value="1">Choose the type</option>
							<option th:each="t :${types}" th:value="${t.id}"   th:text="${t.name}">Default</option>
						</select>
						<label for="inputType" >Type</label></div>
					</div>
					<div class="row">
						<div class="input-field col s12">
						<select  id="inputMechanism" th:field="*{mechanism}">
							<option value="1">Choose the mechanism</option>
							<option th:each="m :${mechanisms}" th:value="${m.id}"   th:text="${m.type}">Default</option>
						</select>
						<label for="inputGender" >Mechanism</label></div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select id="inputJoinType" th:field="*{join}">
								<option value="1">Choose the join type</option>
								<option th:each="j : ${joins}" th:value="${j.id}"   th:text="${j.value}">Default</option>
							</select>
							<label for="inputGender" >Join Type</label></div>
					</div>
					<div class="row">
						<div class="file-field input-field col s12">
							<div class="btn">
								<span>Image</span>
								<input type="file"  id="inputFile" name="file"/>
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text"  name="fileName" placeholder="Upload one image file"/>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col s6">
							<button class="waves-effect waves-light btn-large" >Cancel</button>
						</div>
						<div class="col s6">
							<button class="waves-effect waves-light btn-large submit" type="submit">Add<i class="material-icons right">send</i></button>
						</div>
					</div>
    			</form>
    		</div>
    	</div>
    	<div class="col s3"></div>
    </div>

	<div th:replace="fragments/footer :: footer" class="footer">...</div>
	<!--
		Style
	-->

    <!--
		Scripts
    -->
   	<div th:replace="fragments/links :: footscripts"></div>
</body>
</html>