<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Watch World</title>
    <div th:replace="fragments/links ::headlink"></div>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<main>
    <div class="row">
        <div class="col s3">
            <div class="row"><h4 class="teal-text lighten-1">Filters</h4></div>
            <form action="" th:action="@{filter}" method = "post" th:object="${filter}">
                <div class="row">
                    <h6 class="indigo-text accent-2">Price:</h6>
                    <div class="col s6">
                        <input type="number" placeholder="From" th:field="*{fromPrice}"/>
                    </div>
                    <div class="col s6">
                        <input type="number" placeholder="To" th:field="*{toPrice}"/>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Gender</h6>
                    <div class="input-field col s12">
                        <select th:field="*{gender}">
                            <option value=""  >Choose a gender</option>
                            <option th:each="g :${genders}" th:value="${g.id}" th:text="${g.name}" value="">Choose a gender</option>
                        </select>
                        <label>GenderFilter</label>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Type</h6>
                    <div class="input-field col s12">
                        <select th:field="*{type}">
                            <option  value="">Choose a type</option>
                            <option th:each="g :${types}" th:value="${g.id}" th:text="${g.name}"  value="">Choose a type</option>
                        </select>
                        <label>Type Filter</label>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Brand</h6>
                    <div class="input-field col s12">
                        <select th:field="*{brand}">
                            <option value=""  >Choose a brand</option>
                            <option th:each="g :${brands}" th:value="${g.id}" th:text="${g.name}"  value=""  >Choose a brand</option>
                        </select>
                        <label>Brand Filter</label>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Mechanism</h6>
                    <div class="input-field col s12">
                        <select th:field="*{mechanism}">
                            <option value=""  >Choose a mechanism</option>
                            <option th:each="g :${mechanisms}" th:value="${g.id}" th:text="${g.type}"  value=""  >Choose a mechanism</option>
                        </select>
                        <label>Mechanism Filter</label>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Country</h6>
                    <div class="input-field col s12">
                        <select th:field="*{country}">
                            <option value=""  >Choose a country</option>
                            <option th:each="g :${countries}" th:value="${g.id}" th:text="${g.name}"  value=""  >Choose a country</option>
                        </select>
                        <label>Country Filter</label>
                    </div>
                </div>
                <div class="row">
                    <h6 class="indigo-text accent-2">Join Type</h6>
                    <div class="input-field col s12">
                        <select th:field="*{join}">
                            <option value="">bracelet material</option>
                            <option th:each="g :${joins}" th:value="${g.id}" th:text="${g.value}"  value="">bracelet material</option>
                        </select>
                        <label>Bracelet Filter</label>
                    </div>
                </div>

                <div class="row" style="text-align: center"><button class="btn-large" type="submit" >Get</button></div>
            </form>
        </div>
        <div class="col s9">
            <ul class="row">
                <li class="col s4" th:each="w: ${watches}">
                    <div class = "card" style="overflow-x: hidden" max-width="150px">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" th:src="@{${w.getImagePath()}}" /><!-- Default image?-->
                        </div>
                        <div class="card-content" >
                            <span class="card-title activator grey-text" th:text="${w.brand.name}"></span>
                            <p th:text="${w.getModel()}"></p>
                            <span class="card-title tial-text" th:text="${w.price}+' UAH'"></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4" th:utext="${w.brand.name}" >Card Title</span>
                            <p>
                                <table class="striped">
                            <tr>
                                <td>Model</td>
                                <td th:text="${w.model}">Model</td>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td th:text="${w.price} + ' UAH'">Price</td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td th:text="${w.country.name}">Price</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td th:text="${w.gender.name}">Gender</td>
                            </tr>
                            <tr>
                                <td>Mechanism</td>
                                <td th:text="${w.mechanism.type}">Mechanism</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td th:text="${w.type.name}">Type</td>
                            </tr>
                            <tr>
                                <td>Join type</td>
                                <td th:text="${w.specialValue.value}">Join Type</td>
                            </tr>
                        </table>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s9">
            <ul class="pagination" style="text-align: center">
                <li class="disabled right-arrow"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>

        </div>
    </div>
</main>
    <div th:replace="fragments/footer :: footer">...</div>
    <div th:replace="fragments/links :: footscripts"></div>
    <script type="text/javascript" src="/js/handler.js"></script>
    <script type="text/javascript">
        $('footer').css("position","relative");
    </script>
</body>
</html>